.ant-modal-content {
  background-color: #2b2e3d !important;
  color: white;
}
.ant-modal-close:hover {
  background-color: #484a5f !important;
}
.ant-modal-close-x {
  color: white;
}

.ant-modal-header {
  background-color: #2b2e3d !important;
  margin-bottom: 16px !important;
}
.ant-modal-title {
  color: white !important;
}
.ant-btn-default {
  color: white !important;
  padding: 0px 15px !important;
  font-size: 13px;
}
.ant-btn-default:hover {
  border: 1px solid #484a5f !important;
}
.ant-btn-primary {
  background-color: #6466d8;
  font-size: 13px !important;
  width: 70px;
}
.ant-btn-primary:hover {
  background-color: #4f5096 !important;
}
